@import "../src/materialize-src/sass/components/color";

/* ==========  Override colors (don't use !default)  ========== */
$godot-nav-color: #444;

$godot-blue: #478CBF;
$godot-bg: #f0f0f0;
$features-color: #5c677b;
$features-bg-color: #d6c1e0;

$roadmap-color: #fff;
$roadmap-bg-color: #3a6d44;